<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        XTASY 2k17 Admin Panel
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; 2017 <a href="https://www.winterfellws.co" target="_blank">XTASY</a>, made with love for CET
        </p>
    </div>
</footer>
