<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,IE=9,IE=8,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta itemprop="image" content="assets/favicon.png" />
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />


    <title>Synergy - Responsive and Interactive HTML Portfolio</title>

    <meta name="description" content="" />
    <meta name="author" content="MEDIACREED.COM" />
    <!--<meta name="fragment" content="!">-->

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/redg.css" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|PT+Sans+Caption:400,700' rel='stylesheet' type='text/css' />

    <!-- SCRIPT IE FIXES -->
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- END SCRIPT IE FIXES-->


    <!-- START TEMPLATE JavaScript load -->
    <script type="text/javascript" src="js/libs/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/libs/modernizr.custom.min.js"></script>
    <script type="text/javascript" src="js/libs/jquery.wipetouch.js"></script>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&sensor=true"></script>

    <script type="text/javascript" src="js/libs/jquery.gmap.min.js"></script>
    <script type="text/javascript" src="js/greensock/minified/TweenMax.min.js"></script>
    <script type="text/javascript" src="js/libs/jquery.timer.js"></script>
    <script type="text/javascript" src="js/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/libs/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="js/audio-js/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="js/audio-js/jplayer.playlist.min.js"></script>
    <script type="text/javascript" src="js/mediacreed/scrollbar/mc.custom.list.js"></script>
    <script type="text/javascript" src="js/mc.modules.animation.js"></script>
    <link rel="stylesheet" href="js/video-js/video-js.min.css" media="screen" />
    <script type="text/javascript" src="js/video-js/video.min.js"></script>
    <!-- END TEMPLATE JavaScript load ---->

    <!--<script src="http://vjs.zencdn.net/c/video.js"></script>
        Careful when using the online version because the destroy method throws an error.
        Our version has the fix on destroy method. Until it updates we recommend using the JS file from the template.
        -->
    <script>
        _V_.options.flash.swf = "js/video-js/video-js.swf";
        _V_.options.techOrder = ["html5", "flash", "links"];
        var params = {};
        params.bgcolor = "#000000";
        params.allowFullScreen = "true";
        _V_.options.flash.params = params;
    </script>
</head>