
    <div id="module-container">
    	<div id="slideshow" data-auto-play="false" data-time="4">
        	<div class="slideshow-slide">
            	<img src="assets/media/home/home_layout1/images/image1.jpg" onload="onFirstMediaLoaded()"  id="slide-current" alt="" />
                <div id="slideshow-captions">
                    <div id="slideshow-captions-text">
                        <p>WE CREATE! YOU DELIVER!</p>
                    </div>
                    <div id="slideshow-captions-text">
                        <p>SYNERGY INTERACTIVE &amp; RESPONSIVE TEMPLATE</p>
                    </div>
                </div>
            </div>
            <div class="slideshow-slide">
                <div id="slide-src" data-src="assets/media/home/home_layout1/images/image2.jpg"></div>
                <div id="slideshow-captions">
                    <div id="slideshow-captions-text">
                        <p>FROM SMALL TO BIG</p>
                    </div>
                    <div id="slideshow-captions-text">
                        <p>SYNERGY PERFORMS ON ALL DEVICES </p>
                    </div>
                </div>
            </div>
            <div class="slideshow-slide">
                <div id="slide-src" data-src="assets/media/home/home_layout1/images/image3.jpg"></div>
                <div id="slideshow-captions">
                    <div id="slideshow-captions-text">
                        <p>PORTFOLIOS, RESTAURANTS, ART, PHOTOGRAPHY...</p>
                    </div>
                    <div id="slideshow-captions-text">
                        <p>CREATIVE PEOPLE &amp; AGENCIES!</p>
                    </div>
                </div>    
            </div>
            <div class="slideshow-slide">
                <div id="slide-src" data-src="assets/media/home/home_layout1/images/image4.jpg"></div>
                <div id="slideshow-captions">
                     
                </div>
            </div>
            <div class="slideshow-slide">
                <div id="slide-src" data-src="assets/media/home/home_layout1/images/image5.jpg"></div>
                <div id="slideshow-captions">
                    <div id="slideshow-captions-text">
                        <p>20+ PREDIFINED LAYOUTS</p>
                    </div>
                    <div id="slideshow-captions-text">
                        <p>CLEAN &amp; SMOOTH!</p>
                    </div> 
                </div>
            </div>
            <div class="slideshow-slide">
                <div id="slide-src" data-src="assets/media/home/home_layout1/images/image6.jpg"></div>
                <div id="slideshow-captions">
                                        
                </div>
            </div>
        </div>
    	<div id="slideshow-thumbs">
            <div id="slideshow-thumbs-background" class="opacity_6"></div>
            <div id="slideshow-thumbs-holder">
                 <div class="slideshow-thumbs-arrow-backward">
                    <div class="slideshow-thumbs-arrow-backg opacity_2"></div>
                    <div class="slideshow-thumbs-arrow-backward-sign"></div>
                </div>                 
                 <div id="slideshow-thumbs-content">
                        <div class="horizontal-fix-slideshow-thumbs">
                            <div id="slideshow-thumbs-container">
                                <div class="slideshow-thumb-holder">
                                    <img src="assets/media/home/home_layout1/thumbs/thumb1.jpg" width="105" height="70" alt="" />
                                    <div id="thumb-image-hover" class="hover-default">
                                        <div class="background opacity_6"></div>
                                        <div class="zoom-gallery-small"></div>
                                    </div>  
                                                                      
                                </div>
                                <div class="slideshow-thumb-holder">
                                    <img src="assets/media/home/home_layout1/thumbs/thumb2.jpg" width="105" height="70" alt="" />
                                    <div id="thumb-image-hover" class="hover-default">
                                        <div class="background opacity_6"></div>
                                        <div class="zoom-gallery-small"></div>
                                    </div>
                                </div>
                                <div class="slideshow-thumb-holder">
                                    <img src="assets/media/home/home_layout1/thumbs/thumb3.jpg" width="105" height="70" alt="" />
                                    <div id="thumb-image-hover" class="hover-default">
                                        <div class="background opacity_6"></div>
                                        <div class="zoom-gallery-small"></div>
                                    </div>
                                </div>
                                <div class="slideshow-thumb-holder">
                                    <img src="assets/media/home/home_layout1/thumbs/thumb4.jpg" width="105" height="70" alt="" />
                                    <div id="thumb-image-hover" class="hover-default">
                                        <div class="background opacity_6"></div>
                                        <div class="zoom-gallery-small"></div>
                                    </div>
                                </div>
                                <div class="slideshow-thumb-holder">
                                    <img src="assets/media/home/home_layout1/thumbs/thumb5.jpg" width="105" height="70" alt="" />
                                    <div id="thumb-image-hover" class="hover-default">
                                        <div class="background opacity_6"></div>
                                        <div class="zoom-gallery-small"></div>
                                    </div>
                                </div>
                                <div class="slideshow-thumb-holder">
                                    <img src="assets/media/home/home_layout1/thumbs/thumb6.jpg" width="105" height="70" alt="" />
                                    <div id="thumb-image-hover" class="hover-default">
                                        <div class="background opacity_6"></div>
                                        <div class="zoom-gallery-small"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                 </div>                 
                 <div class="slideshow-thumbs-arrow-forward">
                    <div class="slideshow-thumbs-arrow-backg opacity_2"></div>
                    <div class="slideshow-thumbs-arrow-forward-sign"></div>
                 </div>
                 <div id="slideshow-thumbs-counter"> <span></span> </div>                 
            </div>
        </div>
    </div>


