
<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

    
        <% include header %>

<body>

        <% include sidebar %>
        <!-- end #menu-container -->

        <div id="module-container">
        
        </div>

    </div>

    <div id="load-container">
    </div>

    <div id="loading-animation">
        <img src="assets/loaders/loader.gif" width="16" height="11" alt="Synergy - loading animation" />
    </div>
    <div id="footer-social-tooltip"></div>

    <div id="console-log"></div>
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
</body>

</html>
