  <html>
  <head>
    <title>testing signup/signin</title>
  </head>

  <body>
    <h1>register form</h1>
    <form action="/users/register" method="post">
            <label>Name:</label>
            <input type="text"  name="name" id="name">

            <label>Email address:</label>
            <input type="email"  name="email" id="email">

            <label>Password:</label>
            <input type="password"  name="password" id="password">

            <label >College:</label>
            <input type="text"  name="college" id="college">

            <label>Year:</label>
            <input type="text"  name="year" id="year">

            <label>Phone:</label>
            <input type="number"  name="phone" id="phone">

            <label>Gender:</label>
            <input type="text"  name="gender" id="gender">
    <button type="submit">register</button>
    </form>

    <h1>login form</h1>
    <form action="/users/login" method="post">

            <label>Email address:</label>
            <input type="email"  name="login_email" id="login-email">

            <label>Password:</label>
            <input type="password"  name="login_password" id="login-password">

    <button type="submit">login</button>
    </form>

  </body>

</html>
