<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-5.jpg">

<!--

    Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
    Tip 2: you can also add an image using data-image tag

-->

  <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
                XTASY 2017
            </a>
        </div>
        <ul class="nav">
          <li>
              <a href="/admin/users">
                  <i class="pe-7s-file"></i>
                  <p>Users</p>
              </a>
          </li>
          <li>
              <a href="/admin/events/15">
                  <i class="pe-7s-graph"></i>
                  <p>Amit Mishra</p>
              </a>
          </li>
          <li>
              <a href="/admin/events/16">
                  <i class="pe-7s-graph"></i>
                  <p>Zephyrtone</p>
              </a>
          </li>
            <li>
                <a href="/admin/events/1">
                    <i class="pe-7s-graph"></i>
                    <p>Prove Your Move</p>
                </a>
            </li>
            <li>
                <a href="/admin/events/2">
                    <i class="pe-7s-graph"></i>
                    <p>Salsa Workshop</p>
                </a>
            </li>
            <li>
                <a href="/admin/events/3">
                    <i class="pe-7s-graph"></i>
                    <p>The Dancing Feat</p>
                </a>
            </li>
            <li>
                <a href="/admin/events/4">
                    <i class="pe-7s-graph"></i>
                    <p>Burnout</p>
                </a>
            </li>
            <li>
                <a href="/admin/events/5">
                    <i class="pe-7s-graph"></i>
                    <p>The Chosen One</p>
                </a>
            </li>
            <li>
                <a href="/admin/events/6">
                    <i class="pe-7s-graph"></i>
                    <p>Kala Manch</p>
                </a>
            </li>
            <li>
                <a href="/admin/events/7">
                    <i class="pe-7s-graph"></i>
                    <p>Pukaar</p>
                </a>
            </li>
            <li>
                <a href="/admin/events/8">
                    <i class="pe-7s-graph"></i>
                    <p>Goonj</p>
                </a>
            </li>
            <li>
                <a href="/admin/events/9">
                    <i class="pe-7s-graph"></i>
                    <p>Karaoke</p>
                </a>
            </li>
            <li>
                <a href="/admin/events/10">
                    <i class="pe-7s-graph"></i>
                    <p>War of Bands</p>
                </a>
            </li>
            <li>
                <a href="/admin/events/11">
                    <i class="pe-7s-graph"></i>
                    <p>Sp-ent and india quiz</p>
                </a>
            </li>
            <li>
                <a href="/admin/events/12">
                    <i class="pe-7s-graph"></i>
                    <p>Broadcast</p>
                </a>
            </li>
            <li>
                <a href="/admin/events/13">
                    <i class="pe-7s-graph"></i>
                    <p>I-Kavi</p>
                </a>
            </li>
            <li>
                <a href="/admin/events/14">
                    <i class="pe-7s-graph"></i>
                    <p>Terribly Tiny Tales</p>
                </a>
            </li>
        </ul>
  </div>
</div>
